<!doctype html>
<html ng-app="pirriweb" ng-cloak>
    <head>
        <title>PirriGo</title>
        <link rel="icon" href="/static/icon.png">
        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/bower_components/ng-responsive-calendar/dist/css/calendar.min.css"/>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="/static/bower_components/chart.js/dist/Chart.js"></script>
        <script type="text/javascript" src="/static/bower_components/moment/moment.js"></script>
        <script src="/static/bower_components/ng-responsive-calendar/dist/js/calendar-tpls.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script src="/static/bower_components/angular-moment/angular-moment.js"></script>
        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/static/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/static/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/static/bower_components/angular-route/angular-route.js"></script>
        <script src="/static/bower_components/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="/static/bower_components/prefix/src/prefix.js"></script>
        <script type="text/javascript" src="/static/bower_components/angular-messages/angular-messages.js"></script>
        <script src="/static/app.js"></script>
        <script src="/static/table.js"></script>
    </head>
    <body class="text-shadow">
        <div id="PirriControl" ng-controller="PirriControl as pc">
            <div id="station-schedules">
                <section>
                    <div id="nav" style="padding-bottom: 15px">
                        <div id="searchText" class="pfield col-sm-3 pull-right">
                            <input type="text" ng-model="searchText" placeholder="Search" class="" col-sm-2">
                        </div>
                        <div id="navicons">
                            <div>
                                <a href><span class="glyphicon glyphicon-refresh" ng-click="pc.refresh()"></span></a>
                                <span> &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-home" ng-click="currentPage = 'home'; navTitle = 'Stations'; pc.refresh(); setTabCookie()"></span></a>
                                <span > &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-calendar" ng-click="currentPage = 'mycal'; navTitle = 'Calendar'; pc.getCalEvents(); setTabCookie(); pc.getSchedule();"></span></a>
                                <span > &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-list" ng-click="currentPage = 'calendar'; navTitle = 'Schedule'; pc.getSchedule(); setTabCookie()"></span></a>
                                <span > &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-time" ng-click="currentPage = 'history'; navTitle = 'History'; pc.loadHistory(); setTabCookie()"></span></a>
                                <span > &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-stats" ng-click="currentPage = 'stats'; navTitle = 'Run Statistics'; pc.loadStatsData(); setTabCookie()"></span></a>
                                <span > &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-tint" ng-click="currentPage = 'waterusage'; navTitle = 'Water Usage'; getWaterUsageStats(); setTabCookie()"></span></a>
                                <span > &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-cloud" ng-click="currentPage = 'weatherEdit'; navTitle = 'Weather Adjustments'; pc.loadWeather(); setTabCookie()"></span></a>
                                <span> &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-cog" ng-click="currentPage = 'settings'; navTitle = 'Settings'; pc.loadSettings(); setTabCookie()"></span></a>
                                <span> &nbsp; </span>
                                <a href><span class="glyphicon glyphicon-search" ng-click="currentPage = 'logview'; navTitle = 'Log Viewer'; pc.loadLogs(); setTabCookie()"></span></a>
                                <span id="navTitle"> &nbsp; | &nbsp; {{navTitle}}</span>
                            </div>
                        </div>
                        <br/>
                        <hr/>
                    </div>
                    <!-- START STATIONS LIST -->
                    <div ng-show="currentPage == 'home'">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th class="col-md-1">Station</th>
                                    <th class="col-md-1">GPIO</th>
                                    <th class="col-md-6">Notes</th>
                                    <th class="col-md-2">Controls</th>
                                    <th class="col-md-2">
                                        <a><span ng-show="showAddStationButton" ng-click="pc.addStationButton()" class="glyphicon glyphicon-plus pull-right"></a></span></a>
                                    </th>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr ng-repeat="station in stations | filter: searchText" ng-hide="showSearchResults">
                                        <td class="col-md-1"><a><span> {{station.ID}}</span></a></td>
                                        
                                        <td class="col-md-1">
                                            <span ng-show="stationModel.tempID != station.ID || stationModel.tempID == -1" >
                                                {{station.GPIO}}
                                            </span>
                                            <span>
                                                <span>
                                                    <div class="dropdown" ng-show="stationModel.tempID == station.ID">
                                                        <button ng-show="stationModel.GPIO != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{stationModel.GPIO}}</button>
                                                        <ul class="dropdown-menu">
                                                            <li ng-repeat="gpio in availableGpios | filter: searchText" ng-click="stationModel.GPIO = gpio.GPIO"><a>{{gpio.GPIO}}</a></li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </span>
                                        </td>
                                        <td class="col-md-6">
                                            <span ng-hide="stationModel.tempID == station.ID"">{{station.Notes}}</span>
                                            <span>
                                                <div class="pfield form-group" ng-show="stationModel.tempID == station.ID">
                                                    <input class="" ng-show="stationModel.tempID == station.ID || stationModel.tempID == -1" type="text" ng-model="stationModel.Notes">
                                                </div>
                                            </span>
                                        </td>
                                        <td class="col-md-2">
                                            <a><span ng-hide="stationModel.tempID == station.ID" ng-click="pc.setEditingStationInfo(station)" class="glyphicon glyphicon-pencil"></span></a>
                                            <a><span ng-show="stationModel.tempID == station.ID" class="glyphicon glyphicon-floppy-disk" ng-click="pc.submitEditStation();"></span></a>
                                            <a><span ng-show="stationModel.tempID == -1" class="glyphicon glyphicon-floppy-disk" ng-click="pc.submitAddStation();"></span></a>
                                            <a><span ng-hide="singleRunModel.StationID == station.ID" ng-click="singleRunModel.Duration = 0; singleRunModel.StationID = station.ID;" class="glyphicon glyphicon-play"></span></a>
                                            <a><span ng-show="singleRunModel.StationID == station.ID" ng-click="singleRunModel = undefined;" class="glyphicon glyphicon-stop"></span></a>
                                            <a href><span ng-show="stationModel.tempID == station.ID" class="glyphicon glyphicon-trash" ng-click="pc.submitDeleteStation(station.ID)"></span></a>
                                            <div class=" dropdown" ng-show="singleRunModel.StationID == station.ID && stationModel.new != true">
                                                <button ng-hide="singleRunModel.Duration != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">0 min</button>
                                                <button ng-show="singleRunModel.Duration != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{singleRunModel.Duration}} min</button>
                                                <ul class="dropdown-menu">
                                                    <li ng-repeat="interval in durationIntervals " ng-click="singleRunModel.Duration = interval * 60; pc.submitSingleRun()"><a >{{interval}} min</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div ng-show="runStatus.StationID == station.ID" style="padding-top: 20px">
                                                <div  class="progress">
                                                    <div class="progress-bar"
                                                        role="progressbar"
                                                        aria-valuenow="{{ runStatus.pComplete * 100 }}"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                        style="width:{{ runStatus.pComplete * 100}}%">
                                                        <span style="padding-left: 50%">{{runStatus.pComplete * 100 | limitTo:4 }}% Complete</span>
                                                    </div>
                                                </div>
                                                <span style="font-weight: bold;">ETC: <a>{{ runStatus.fin | date:"h:mm a" }} </a></span> (<a>{{(runStatus.Duration - runStatus.td) / 60 | limitTo:4}} min</a>)
                                                 | <a>
                                                    <span ng-click="pc.cancelStationRun()" class="glyphicon glyphicon-ban-circle"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END STATIONS LIST -->
                    <!-- START STATS-->
                    <div ng-show="currentPage == 'stats'">
                        <div class="col-md-6">
                            <canvas id="chart1" height="120" class="chart chart-bar" chart-options="chartData1.options" chart-data="chartData1.data" chart-labels="chartData1.labels" chart-series="chartData1.series"></canvas>
                        </div class="col-md-6">
                        <div class="col-md-6">
                            <canvas id="chart2" height="120" class="chart chart-line" chart-options="chartData2.options" chart-data="chartData2.data" chart-labels="chartData2.labels" chart-series="chartData2.series"></canvas>
                        </div class="col-md-6">
                        <div>
                            <canvas id="chart3" height="120" class="chart chart-bar" chart-options="chartData3.options" chart-data="chartData3.data" chart-labels="chartData3.labels" chart-series="chartData3.series"></canvas>
                        </div>
                        <div class="col-md-6">
                            <canvas id="chart4" height="120" class="chart chart-line" chart-options="chartData4.options" chart-data="chartData4.data" chart-labels="chartData4.labels" chart-series="chartData4.series"></canvas>
                        </div>
                    </div>
                    <!-- END STATS -->
                    <!-- START SCHEDULE -->
                    <div ng-show="currentPage == 'calendar'" >
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th class="col-md-1">Station</th>
                                    <th class="col-md-4">Start Date</th>
                                    <th class="col-md-2">Start Time</th>
                                    <th class="col-md-1">Duration</th>
                                    <th class="col-md-3">Days</th>
                                    <th class="col-md-1">
                                        <a><span ng-show="scheduleModel.tempID == 0 || scheduleModel.tempID == undefined" ng-click="pc.addScheduleButton()" class="glyphicon glyphicon-plus pull-right"></span></a>
                                    </th>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr ng-repeat="sched in schedule | filter: searchText">
                                        <td class="col-md-1">
                                            <span ng-show="scheduleModel.ID != sched.ID">{{sched.StationID}}</span>
                                            <div class="dropdown" ng-show="scheduleModel.ID == sched.ID">
                                                <button ng-show="scheduleModel.Duration != undefined && scheduleModel.ID == sched.ID" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{sched.StationID}}</button>
                                                <ul class="dropdown-menu">
                                                    <li ng-repeat="s in stations | filter: searchText" ng-click="scheduleModel.StationID = s.ID"><a>{{s.ID}} - {{s.Notes}}</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="pfield col-md-4">
                                            <p ng-show="scheduleModel.ID != sched.ID"><em>{{sched.StartDate | date:'fullDate' }}</em></p>
                                            <p  style="padding-top: 10px" ng-show="scheduleModel.ID == sched.ID" class="input-group">
                                                <input type="text"
                                                uib-datepicker-popup="{{format}}"
                                                ng-model="sched.StartDate"
                                                is-open="true"
                                                datepicker-options="dateOptions"
                                                ng-required="true"
                                                close-text="Close"
                                                alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="openCalPicker(sched.ID)">
                                                    <i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </td>
                                        <td class="col-md-2">
                                            <span ng-show="scheduleModel.ID != sched.ID">{{sched.StartTime}}</span>
                                            <span>
                                                <div style="padding-top: 10px" class="pfield form-group">
                                                    <!--                                          <div uib-timepicker ng-model="scheduleModel.timepicker" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>-->
                                                    <input placeholder="HHmm" ng-show="scheduleModel.ID == sched.ID" type="number" ng-model="scheduleModel.StartTime">
                                                </div>
                                            </span>
                                        </td>
                                        <td class="col-md-1">
                                            <span ng-show="scheduleModel.ID != sched.ID">{{sched.Duration / 60}} min</span>
                                            <span>
                                                <div class="dropdown" ng-show="scheduleModel.ID == sched.ID">
                                                    <button ng-show="scheduleModel.Duration != undefined && scheduleModel.ID == sched.ID" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{scheduleModel.Duration / 60}} min</button>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="interval in durationIntervals" ng-click="scheduleModel.Duration = interval * 60;"><a >{{interval}} min</a></li>
                                                    </ul>
                                                </div>
                                            </span>
                                        </td>
                                        <td class="col-md-3">
                                            <div class="checkbox" style="padding-top: 10px" ng-show="scheduleModel.ID == sched.ID">
                                                <label><input type="checkbox" ng-model="scheduleModel.Sunday">Sun<br/> </label>
                                                <label><input type="checkbox" ng-model="scheduleModel.Monday">Mon<br/> </label>
                                                <label><input type="checkbox" ng-model="scheduleModel.Tuesday">Tue<br/> </label>
                                                <label><input type="checkbox" ng-model="scheduleModel.Wednesday">Wed<br/> </label>
                                                <label><input type="checkbox" ng-model="scheduleModel.Thursday">Thu<br/> </label>
                                                <label><input type="checkbox" ng-model="scheduleModel.Friday">Fri<br/> </label>
                                                <label><input type="checkbox" ng-model="scheduleModel.Saturday">Sat<br/> </label>
                                            </div>
                                            <div class="checkbox" ng-show="scheduleModel.ID != sched.ID">
                                                <table style="border: 1px solid black; border-collapse: collapse; text-align: center;">
                                                    <th style="background-color: #4CAF50; padding: 3px; text-align: center;" ng-show="scheduleModel.ID != sched.ID && sched.Sunday">Sun</th>
                                                    <th ng-show="!sched.Sunday" style="padding: 3px; text-align: center;">Sun</th>
                                                    <th style="background-color: #4CAF50; padding: 3px; text-align: center;" ng-show="scheduleModel.ID != sched.ID && sched.Monday">Mon</th>
                                                    <th ng-show="!sched.Monday" style="padding: 3px; text-align: center;">Mon</th>
                                                    <th style="background-color: #4CAF50; padding: 3px; text-align: center;" ng-show="scheduleModel.ID != sched.ID && sched.Tuesday">Tue</th>
                                                    <th ng-show="!sched.Tuesday" style="padding: 3px; text-align: center;">Tue</th>
                                                    <th style="background-color: #4CAF50; padding: 3px; text-align: center;" ng-show="scheduleModel.ID != sched.ID && sched.Wednesday">Wed</th>
                                                    <th ng-show="!sched.Wednesday" style="padding: 3px; text-align: center;">Wed</th>
                                                    <th style="background-color: #4CAF50; padding: 3px; text-align: center;" ng-show="scheduleModel.ID != sched.ID && sched.Thursday">Thu</th>
                                                    <th ng-show="!sched.Thursday" style="padding: 3px; text-align: center;">Thu</th>
                                                    <th style="background-color: #4CAF50; padding: 3px; text-align: center;" ng-show="scheduleModel.ID != sched.ID && sched.Friday">Fri</th>
                                                    <th ng-show="!sched.Friday" style="padding: 3px; text-align: center;">Fri</th>
                                                    <th style="background-color: #4CAF50; padding: 3px; text-align: center;" ng-show="scheduleModel.ID != sched.ID && sched.Saturday">Sat</th>
                                                    <th ng-show="!sched.Saturday" style="padding: 3px; text-align: center;">Sat</th>
                                                </table>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <a href><span ng-show="scheduleModel.ID == sched.ID && scheduleModel.new != true" class="glyphicon glyphicon-floppy-disk" ng-click="pc.submitEditSchedule();"></span></a>
                                            <a href><span ng-show="scheduleModel.ID == sched.ID && scheduleModel.new" class="glyphicon glyphicon-floppy-disk" ng-click="pc.submitAddSchedule();"></span></a>
                                            <a href><span ng-show="scheduleModel.ID == sched.ID" class="glyphicon glyphicon-ban-circle" ng-click="scheduleModel = undefined; pc.refresh();"></span></a>
                                            <a href><span ng-hide="scheduleModel.ID == sched.ID" class="glyphicon glyphicon-pencil" ng-click="pc.mapModelForSchedEdit(sched)"></span></a>
                                            <a href><span ng-show="scheduleModel.ID || sched.ID && scheduleModel.new"class="glyphicon glyphicon-trash" ng-click="pc.submitDeleteSchedule(sched.ID);"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EDIT SCHEDULE-->
                    <!-- START NEW CALENDAR -->
                    <div ng-show="currentPage == 'mycal'">
                        <calendar calendar-mode=mode event-source="eventSource"></calendar>
                        <div class="made-with-love btn-toolbar">
                            <div ng-show="currentPage == 'mycal'" class="btn-group">
                                <button type="button" class="btn btn-default" ng-class="{active:mode==='month'}"
                                ng-click="changeMode('month')">
                                Month
                                </button>
                                <button type="button" class="btn btn-default" ng-class="{active:mode==='week'}"
                                ng-click="changeMode('week')">
                                Week
                                </button>
                                <button type="button" class="btn btn-default" ng-class="{active:mode==='day'}"
                                ng-click="changeMode('day')">
                                Day
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- END NEW CALENDAR -->
                    <!-- START HISTORY -->
                    <div ng-show="currentPage == 'history'">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th class="col-md-1">History</th>
                                    <th class="col-md-1">Station</th>
                                    <th class="col-md-3">Started</th>
                                    <th class="col-md-2">Duration</th>
                                    <th class="col-md-1">Manual</th>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr ng-repeat="hist in history  | filter: searchText">
                                        <td class="col-md-1">{{hist.ID}}</td>
                                        <td class="col-md-1">{{hist.StationID}}</td>
                                        <td class="col-md-3">{{pc.prettyTime(hist.StartTime)}}</td>
                                        <td class="col-md-2">{{hist.Duration / 60}} min</td>
                                        <td class="col-md-1">{{hist.ScheduleID == 0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- STOP HISTORY -->

                    <!-- START LOG VIEWER -->
                    <div ng-show="currentPage == 'logview'">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th class="col-md-2">Time Stamp</th>
                                    <th class="col-md-2">Message</th>
                                    <th class="col-md-8">Error (if exists)</th>
                                    
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr ng-repeat="log in logs | reverse | filter: searchText">
                                        <td class="col-md-2">{{log.time}}</td>
                                        <td class="col-md-2">{{log.message}}</td>
                                        <td class="col-md-8">{{log.error}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- STOP LOG VIEWER -->

                    <!-- START STATION EDIT FORM -->
                    <div id="navpane addform" ng-show="currentPage == 'editStation'">
                        <form class="form-horizontal">
                            <!-- make me an interactive svg if you're cool -->
                            <div ng-show="addMessage">{{gpio_add_model.message}}</div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="gpiobutton">GPIO:</label>
                                <div id="gpiobutton" class="dropdown col-sm-8">
                                    <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{edit_station_model.GPIO}}</button>
                                    <span class="caret"></span> <a  ng-click="show_gpio_diagram = !show_gpio_diagram">[show diagram]</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="gpio in gpio_pins" ng-click="edit_station_model.GPIO = gpio.gpio"><a >{{gpio.GPIO}} - {{gpio.Notes}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="notes">Notes:</label>
                                <div class="pfield col-sm-8">
                                    <input type="text" id="notes" placeholder="{{edit_station_model.notes}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Enabled</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                        <center>
                        <img id="gpiodiag" ng-show="show_gpio_diagram" src="static/gpio_layout.png" height="300" width="900">
                        </center>
                    </div>
                    <!-- END STATION EDIT FORM -->
                    <!-- START ADD STATION FORM -->
                    <div id="navpane addform" ng-show="currentPage == 'addStation'">
                        <form class="form-horizontal">
                            <!-- make me an interactive svg if you're cool -->
                            <div ng-show="addMessage">{{gpio_add_model.message}}</div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="gpiobutton">GPIO:</label>
                                <div id="gpiobutton" class="dropdown col-sm-8">
                                    <button ng-show="gpio_add_model.GPIO != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">GPIO: {{gpio_add_model.GPIO}}</button>
                                    <button ng-hide="gpio_add_model.GPIO != undefined" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">GPIO: {{gpio_add_model.default_message}}</button>
                                    <span class="caret"></span> <a  ng-click="show_gpio_diagram = !show_gpio_diagram">[show diagram]</a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="gpio in gpio_pins" ng-click="pc.setGPIO(gpio.gpio)"><a >{{gpio.GPIO}} - {{gpio.Notes}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="notes">Notes:</label>
                                <div class="pfield col-sm-8">
                                    <input type="text" id="notes" placeholder="Any notes regarding this station.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="checkbox">
                                        <label><input type="checkbox"> Enabled</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                        <center>
                        <img id="gpiodiag" ng-show="show_gpio_diagram" src="static/gpio_layout.png" height="300" width="900">
                        </center>
                    </div>
                    <!-- END ADD STATION FORM -->
                    <!-- BEGIN SETTINGS TAB -->
                    <div ng-show="currentPage == 'settings'">
                        <div class="col-md-4">
                            <div ng-show="runStatus.IsIdle">
                                <h4>No active stations.</h4>
                            </div>
                            <div ng-show="!runStatus.IsIdle">
                                <br/>
                                <h3>Station {{ runStatus.StationID }} is active
                                <a>
                                    <span ng-click="pc.cancelStationRun()" class="glyphicon glyphicon-ban-circle"></span>
                                </a>
                                </h3>
                                <h4>Started manually: {{ runStatus.IsManual }}</h4>
                                <br/>
                                <h4>Expected time of completion: <span style="font-weight: bold;">{{ runStatus.fin | date:"h:mm a" }} </span> ({{(runStatus.Duration - runStatus.td) / 60 | limitTo:4}} minutes from now)</h4>
                                <br/>
                            </div>
                            <div>
                                <div ng-show="!runStatus.IsIdle" class="progress">
                                    <div class="progress-bar"
                                        role="progressbar"
                                        aria-valuenow="{{ runStatus.pComplete * 100 }}"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        style="width:{{ runStatus.pComplete * 100 }}%">
                                        <span>{{runStatus.pComplete * 100 | limitTo:4 }}% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            Current Common Wire GPIO: 
                            <a ng-show="commonGpioModel == undefined">{{ commonGpio }}</a>
                            <div id="gpiobutton" class="center">
                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{ commonGpio }}</button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="gpio in availableGpios" ng-click="setGpioCommon(gpio.GPIO)"><a >{{gpio.GPIO}}</a></li>
                                </ul>
                            </div>
                        </div>
                    <div class="col-md-4">
                        Initiate System Run Test (activate each station for 90 seconds, in sequence)
                        <a><button class="btn btn-info" ng-click="startTestRun()">
                            <span class="glyphicon glyphicon-play"></span>
                        </button></a>

                    </div>
                    </div>
                    <!-- END SETTINGS TAB -->
                    <!-- BEGIN WATER USAGE -->
                    <div ng-show="currentPage == 'waterusage'">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th class="col-md-1">Station</th>
                                    <th class="col-md-4">Notes</th>
                                    <th class="col-md-1">Run Minutes</th>
                                    <th class="col-md-1">Gallons per Hour (GPH)</th>
                                    <th class="col-md-2">Est. Cost per minute</th>
                                    <th class="col-md-2">Est. Cost / last 30 days</th>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr ng-repeat="node in dripnodes  | filter: searchText">
                                        <td class="col-md-1">{{node.StationID}}</td>
                                        <td class="col-md-4">{{node.Notes}}</td>
                                        <td class="col-md-1">{{node.RunMins}}</td>
                                        <td class="col-md-1">{{node.TotalGPH | number:2}}</td>
                                        <td class="col-md-2">{{node.TotalGPH / 60 | number:2}} gal per min / ${{ (node.TotalGPH / 60) * watercost | number:4}}</td>
                                        <td class="col-md-2">{{(node.Total30Days) | number:2}} gal / ${{ node.Total30Days * watercost | number:2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="padding-top: 15px">
                            <label  style="padding: 15px;" for="costinput">$ per gallon </label>
                            <p class="pfield col-sm-5">
                                <input id="costinput" type="number" step="0.0001" min="0" ng-model="watercost" placeholder="Cost per gallon" class="col-sm-2" ng-change="calcMonthlyCost();">
                            </p>
                            <h4 style="padding: 10px; font-size: 13px" class="pull-right">Estimated total cost / last 30 days: <a>${{ monthly_cost | number:2 }}</a></h4>
                        </div>
                        
                        <div>
                            <div id="buffer"></div>
                            <div class="tbl-header">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <thead>
                                        <th class="col-md-1">ID</th>
                                        <th class="col-md-1">Station</th>
                                        <th class="col-md-1">GPH</th>
                                        <th class="col-md-1">Count</th>
                                        <th class="col-md-1">
                                            <a><span ng-show="!waterNodeModel.new" ng-click="pc.addWaterNodeButton()" class="glyphicon glyphicon-plus pull-right"></span></a>
                                        </th>
                                    </thead>
                                </table>
                            </div>
                            <div class="tbl-content">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr ng-repeat="node in waterNodeEntries | filter: searchText">
                                            <td class="col-md-1">{{node.ID}}</td>
                                            <td class="col-md-1">
                                                <span ng-hide="waterNodeModel.ID == node.ID || (waterNodeModel.ID == undefined && waterNodeModel.new)">{{node.StationID}}</span>
                                                <div class="dropdown" ng-show="waterNodeModel.ID == node.ID">
                                                    <button ng-show="waterNodeModel.StationID == node.StationID" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{{node.StationID}}</button>
                                                    <ul class="dropdown-menu">
                                                        <li ng-repeat="station in stations" ng-click="waterNodeModel.StationID = station.ID;"><a >{{station.ID}} - {{station.Notes}}</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="col-md-1">
                                                <span ng-show="waterNodeModel.ID != node.ID">{{node.GPH}}</span>
                                                <div class="pfield form-group">
                                                    <input ng-show="waterNodeModel.ID == node.ID" type="number" ng-model="waterNodeModel.GPH">
                                                </div>
                                            </td>
                                            <td class="col-md-1">
                                                <span ng-show="waterNodeModel.ID != node.ID">{{node.Count}}</span>
                                                <div class="pfield form-group">
                                                    <input ng-show="waterNodeModel.ID == node.ID" type="number" ng-model="waterNodeModel.Count">
                                                </div>
                                            </td>
                                            <td class="col-md-1">
                                                <a href><span ng-show="waterNodeModel.ID == node.ID && !waterNodeModel.new" class="glyphicon glyphicon-floppy-disk" ng-click="pc.submitEditNode();"></span></a>
                                                <a href><span ng-show="waterNodeModel.ID == node.ID && waterNodeModel.new" class="glyphicon glyphicon-floppy-disk" ng-click="pc.submitAddNode();"></span></a>
                                                <a href><span ng-show="waterNodeModel.ID == node.ID || (waterNodeModel.ID == undefined && waterNodeModel.new)" class="glyphicon glyphicon-ban-circle" ng-click="waterNodeModel = undefined; "></span></a>
                                                <a href><span ng-hide="waterNodeModel.ID == node.ID" class="glyphicon glyphicon-pencil" ng-click="mapWaterNodeModel(node)"></span></a>
                                                <a href><span ng-show="waterNodeModel.ID == node.ID" class="glyphicon glyphicon-trash" ng-click="pc.submitDeleteNode(node.ID);"></span></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END WATER USAGE -->
                    <!-- START WEATHER ADJUST PAGE -->
                    <div ng-show="currentPage == 'weatherEdit'">
                        <div id="currentWeather">
                            <h3>Current Weather in {{weatherData.current.name}}:</h3>
                            <h3><img ng-src="http://openweathermap.org/img/w/{{weatherData.current.weather[0].icon}}.png" alt=""> {{weatherData.current.weather[0].description}}</h3>
                            <div>
                                <h4>Wind blowing {{weatherData.current.wind.speed}} knots from the {{weatherData.current.wind.compass_direction}}.</h4>
                                <h4>Temperature</h4>
                                <h5> - Now: {{weatherData.current.main.temp}}</h5>
                                <h5> - min: {{weatherData.current.main.temp_min}}</h5>
                                <h5> - max: {{weatherData.current.main.temp_max}}</h5>
                            </div>
                            <div>
                                <h4>Precipitation</h4>
                                <h5> - pressure: {{weatherData.current.main.pressure}}</h5>
                                <h5> - humidity: {{weatherData.current.main.humidity}}%</h5>
                            </div>
                            <div>
                                <h4>Solar</h4>
                                <h5> - sunrise: {{ weatherData.current.sys.sunrise_t }}
                                </h5>
                                <h5> - sunset: {{ weatherData.current.sys.sunset_t }}</h5>
                            </div>
                        </div>
                                            <br/><br/><br/><br/>

                    <div class="" style="font-size: 8px; align-content: center; align-self: center">
                        Weather Powered by <a href="http://www.wunderground.com">Weather Underground</a> API
                    </div>
                    <img width="90px" src="https://icons.wxug.com/logos/PNG/wundergroundLogo_4c_rev_horz.png" alt="">
                    </div>
                    <!-- END WEATHER ADJUST PAGE -->
                </section>
            </div>
            <div>
                <h1 id="pirrilogo"><img height="50" width="75" src="static/icon_text.png"></h1>
            </div>
            <div style="padding-top: 30px; align-self: center; align-content: center"; align="center">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">PirriGo</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://vacovsky.us" property="cc:attributionName" rel="cc:attributionURL">Joe Vacovsky Jr.</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/vacoj/pirrigo" rel="dct:source">https://github.com/vacoj/pirrigo</a>.
            </div>
        </div>
    </body>
</html>