<!doctype html>
<html ng-app="pirriweb" ng-cloak>
    <head>
        <title>Pirri Setup - {[version]}</title>
        <link rel="icon" href="static/icon.png">
        <link rel="stylesheet" href="/static/libs/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/libs/angular-material.min.css">
        <link rel="stylesheet" href="/static/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/libs/jquery-3.1.0.min.js"></script>
        <script src="/static/libs/angular.min.js"></script>
        <script src="/static/libs/bootstrap.min.js"></script>
        <script src="/static/libs/ui-bootstrap-tpls.js"></script>
        <script src="/static/libs/underscore-min.js"></script>
        <script type="text/javascript" src="/static/libs/moment.min.js"></script>
        <script type="text/javascript" src="/static/libs/Chart.min.js"></script>
        <script type="text/javascript" src="/static/libs/angular-material.min.js"></script>
        <script type="text/javascript" src="/static/libs/angular-chart.min.js"></script>
        <script src="/static/firsttimesetup.js"></script>
    </head>
    <body class="text-shadow">
        <div id="PirriSetupControl" ng-controller="PirriSetupControl as pc">
            <h3>
                First Time Setup
            </h3>
            <div>
                
            </div>
        </div>
    </body>