#ex1Slider .slider-selection {
    background: #BABABA;
}
a {
  color: #fff;
}

#navpane {
  padding-top: 10px;
}

.text-shadow {
  text-shadow: 2px 2px rgba(0,0,0,0.90);
}

#costinputfield {
}
#costinputdiv {
  padding-top: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#buffer {
  padding: 20px;
  padding-top: 60px;
}

body {
    color: #fff;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: gray;
    /*background-image: url("https://i.redd.it/e8hot6bq90lx.png");*/
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    /* overflow: hidden; */
}

input {
  background-color: #59b300;
  color:  white;
}

#navTitle {
  
}

#botnav {
  padding-left: 25;
  padding-right: 25;

}
#navicons {
  font-size: 25px;
}

#gpiodiag {
  align-self: center;
  align-content: center;  
  text-align: center;
}

#title {
  align-self: center;
  align-content: center;  
  text-align: center;
}

#searchTextDiv {
}

#addform {
  padding-top: 35px
}

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
  overflow: auto;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  /* height:450px; */
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* demo styles */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #273956, #203a63);
  background: linear-gradient(to right, #1a283f, #203a63);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
*/
body{
  background: -webkit-linear-gradient(left, #273956, #203a63);
  background: linear-gradient(to right, #273956, #203a63);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

#beatheart {
  width: 30px;
  height: 30px;
}

#stillheart {
  width: 30px;
  height: 30px;
}