<mat-card>

    <mat-card-title>Analytics</mat-card-title>

    <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
            <input matEndDate placeholder=" End date" [(ngModel)]="endDate" (dateChange)="loadChart()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]=" picker">
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>


    <mat-tab-group>
        <mat-tab (click)="chartTab = 4; loadChart()">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">show_chart</mat-icon>
                Zone Activity
            </ng-template>
            <hr />
            <div #containerRef>
                <div *ngIf="chartLoading" class="center-spinner">
                    <mat-spinner></mat-spinner>
                </div>
                <div class="history-chart">
                    <ngx-charts-line-chart *ngIf="zoneActivityChartData != undefined && !chartLoading"
                        [view]="[containerRef.offsetWidth, 400]" schema="colorScheme" [legend]="chart4Options.legend"
                        [showXAxisLabel]="chart4Options.showXAxisLabel" [showYAxisLabel]="chart4Options.showYAxisLabel"
                        [xAxis]="chart4Options.xAxis" [yAxis]="chart4Options.yAxis"
                        [xAxisLabel]="chart4Options.xAxisLabel" [yAxisLabel]="chart4Options.yAxisLabel"
                        [timeline]="chart4Options.timeline" [results]="zoneActivityChartData">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </mat-tab>

        <mat-tab (click)="chartTab = 2; loadChart()">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">show_chart</mat-icon>
                &nbsp; Zone Usage
            </ng-template>

            <hr />
            <div #containerRef>
                <div *ngIf="chartLoading" class="center-spinner">
                    <mat-spinner></mat-spinner>
                </div>
                <div class="history-chart">
                    <ngx-charts-bar-vertical-2d> *ngIf="usageByDOWChartData != undefined &&
                        !chartLoading"
                        [view]="[containerRef.offsetWidth, 400]" schema="colorScheme" [legend]="chart2Options.legend"
                        [showXAxisLabel]="chart2Options.showXAxisLabel" [showYAxisLabel]="chart2Options.showYAxisLabel"
                        [xAxis]="chart2Options.xAxis" [yAxis]="chart2Options.yAxis"
                        [xAxisLabel]="chart2Options.xAxisLabel" [yAxisLabel]="chart2Options.yAxisLabel"
                        [timeline]="chart2Options.timeline" [results]="usageByDOWChartData">
                    </ngx-charts-bar-vertical-2d>
                </div>
            </div>

        </mat-tab>
    </mat-tab-group>

    <!-- <span style="float:right;">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                <input matEndDate placeholder=" End date" [(ngModel)]="endDate" (dateChange)="loadChart()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]=" picker">
            </mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </span> -->

    <!-- <hr />
    <div #containerRef>
        <div *ngIf="!chartLoading" class="center-spinner">
            <mat-spinner></mat-spinner>
        </div>
        <div class="history-chart">
            <ngx-charts-line-chart *ngIf="usageByDOW != undefined && !chartLoading"
                [view]="[containerRef.offsetWidth, 400]" schema="colorScheme" [legend]="chart2Options.legend"
                [showXAxisLabel]="chart2Options.showXAxisLabel" [showYAxisLabel]="chart2Options.showYAxisLabel"
                [xAxis]="chart2Options.xAxis" [yAxis]="chart2Options.yAxis" [xAxisLabel]="chart2Options.xAxisLabel"
                [yAxisLabel]="chart2Options.yAxisLabel" [timeline]="chart2Options.timeline" [results]="usageByDOW">
            </ngx-charts-line-chart>
        </div>
    </div> -->
    <div class="control-buttons">
        <button class="refresh-button" (click)=" ngOnInit()" mat-fab color="accent" aria-label="Refresh data">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</mat-card>