<mat-card>
    <mat-card-title>Jobs List</mat-card-title>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let job of runQueue" [value]="job">

            <!-- TODO: if this is running, show progress bar.  If it's queued, make a control to remove it from the queue -->
            Station {{job.station.ID}}
        </mat-list-option>
    </mat-selection-list>

    <!-- <p>
        Option selected: {{jobs}}
    </p> -->
</mat-card>

<mat-card>
    <mat-card-title>Enabled Stations</mat-card-title>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let station of stations" hideToggle>
            <!-- TODO: where stations hidden -->
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-spinner *ngIf="status != undefined && station.ID == status.StationID &&
                            stationProgressBar != undefined" [diameter]="70"></mat-spinner>
                    Station {{station.ID}}
                </mat-panel-title>
                <mat-panel-description>
                    <p>
                        GPIO: {{station.GPIO}}; {{station.Notes}}
                    </p>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- <mat-icon (click)="runStation(station.ID, 60)">play_circle_filled</mat-icon> -->

            <p *ngIf="status != undefined && station.ID == status.StationID &&
                stationProgressBar != undefined">
                <mat-progress-bar mode="determinate" [value]="stationProgressBar.percentComplete">
                </mat-progress-bar>
                {{stationProgressBar.percentComplete}}% complete
            </p>

            <button (click)="runStation(station.ID, rrDuration * 60)">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <mat-slider thumbLabel min="1" max="60" step="1" [value]="rrDuration"></mat-slider>
            {{station.Description}}
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>

<mat-card>
    <mat-card-title>
        Disabled Stations
    </mat-card-title>
    <mat-accordion multi>
        <div *ngFor="let station of stations">
            <mat-expansion-panel hideToggle hideToggle *ngIf="station.Enabled">
                <!-- TODO: where stations not hidden -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        gdergrea
                    </mat-panel-title>
                    <mat-panel-description>
                        {{station.Description}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p>GPIO: {{station.GPIO}}</p>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
</mat-card>