

/* @import "~@angular/material/prebuilt-themes/pink-bluegray.css"; */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
    background-color: rgb(181, 194, 196);
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  

  .cdk-global-overlay-wrapper {
    overflow: auto;
    pointer-events: auto;  
  }

  .control-buttons {
    position: fixed;

    /* position: absolute; */
    right: 50%;
    z-index: 1000;
    /* float: right; */
    bottom: 3em;
}