

/* @import "~@angular/material/prebuilt-themes/pink-bluegray.css"; */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
    background-color: rgb(181, 194, 196);
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}